<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/_fragments :: head(~{::title})">
    <title>发生错误</title>
</head>
<body>
<!--导航-->
<nav th:replace="common/_fragments :: nav(0)"></nav>

<div class="m-container">
    <div class="ui error message">
        <div class="ui container">
            <h2>发生错误！！！</h2>
            <p>对不起，服务异常，请联系管理员</p>
        </div>
    </div>
    <!-- 移除所有标签体，以文本形式输出，在网页源代码中以注释的形式查看报错信息   -->
    <div th:utext="'&lt;!--'" th:remove="tag"></div>
    <div th:utext="'Failed Request URL:'+${url}" th:remove="tag"></div>
    <div th:utext="'Exception Massage:'+${exception.message}" th:remove="tag"></div>
    <ul th:remove="tag">
        <li th:each="string:${exception.stackTrace}" th:remove="tag">
            <span th:utext="${string}" th:remove="tag"></span>
        </li>
    </ul>
    <div th:utext="'--&gt;'" th:remove="tag"></div>
</div>


<!--底部-->
<footer th:replace="common/_fragments :: footer"></footer>

<!--/*/<th:block th:replace="common/_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->


</body>
</html>