/*顶部高度(最小)*/
.m-padded-tb-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-small{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb-large{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-big{
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-huge{
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
/*底部高度(最大)*/
.m-padded-tb-massive{
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

.m-padded-mini{
    padding: 0.3em !important;
}



/*--------text---------*/
.m-text{
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8;
}
.m-text-thin{
    font-weight: 300 !important;
}
.m-text-spaced{
    letter-spacing: 1px !important;
}
.m-text-lined {
    line-height: 1.8;
}


/*不透明度*/
.m-opacity-mini{
    opacity: 0.8 !important;
}

/*display*/
.m-inline-block{
    display: inline-block !important;
}
.m-container {
    /*max-width: 80em !important;*/
    margin: auto !important;
}


/*控制外部间距*/
.m-margin-tb-tiny{
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.m-margin-top{
    margin-top: 3em !important;
}


/*自定义颜色*/
.m-black{
    color: #333 !important;
}

/*位于页面右上角*/
.m-top-right {
    position: absolute;
    top: 1em;
    right: 1em;
}

/*手机大小隐藏*/
@media screen and (max-width: 768px){
    .m-mobile-hide{
        display: none !important;
    }
    .m-mobile-show{
        display: block !important;
    }
}

.m-mobile-show{
    display: none !important;
}





