<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/_fragments :: head(~{::title})">
    <title>关于我</title>
</head>
<body>
<!--四个部分：nav,left,right,footer-->
<!--导航-->
<nav th:replace="common/_fragments :: nav(5)"></nav>

<!--中间内容：左边放博客列表，右边放博客标签-->
<div class="m-padded-tb-big m-container">
    <div class="ui container">
        <div class="ui grid stackable">
            <!--左边显示博客信息-->
            <div class="eleven wide column">
                <!--header-->
                <div class="ui segment top attached teal">
                    <div class="ui grid middle aligned">
                        <div class="column">
                            <h3 class="ui teal header">关于我</h3>
                        </div>
                    </div>
                </div>
                <!--content-->
                <div class="ui attached segment">
                    <img src="../static/images/example-blog.jpg" alt="">
                </div>

            </div>

            <!--右边显示博客标签信息-->
            <div class="five wide column">
                <div class="ui segments">
                    <div class="ui secondary segment top attached">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>关于我
                            </div>
                            <div class="column right aligned">
                                <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--内容-->
                    <div class="ui segment attached">
                        <p class="m-text">
                            一个热爱编程的小咸鱼!
                        </p>
                    </div>
                    <div class="ui segment attached">
                        <div class="ui orange basic label left pointing">编程</div>
                        <div class="ui orange basic label left pointing">学习</div>
                        <div class="ui orange basic label left pointing">写作</div>
                    </div>
                    <div class="ui segment attached">
                        <div class="ui teal basic label">Java</div>
                        <div class="ui teal basic label">Linux</div>
                        <div class="ui teal basic label">HTML</div>
                    </div>
                    <div class="ui segment attached">
                        <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
                        <a href="#" class="ui circular icon button wechatBtn"><i class="weixin icon"></i></a>
                        <a href="#" class="ui circular icon button qqBtn" data-content="3466151978" data-position="bottom center"><i class="qq icon"></i></a>
                        <div class="ui wechat-qr flowing popup transition hidden">
                            <img src="../static/images/myQQ.png" alt="" class="ui rounded image" style="width: 100px;height: 100px">
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>

<!--底部：二维码、相关信息、版权号-->
<footer th:replace="common/_fragments :: footer"></footer>

<!--/*/<th:block th:replace="common/_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->


<script>
    /*控制移动端按钮点击后出现目录*/
    $('.menu-toggle').click(function () {
        $('.menu-toggle-item').toggleClass('m-mobile-hide');
    });

    /*qq显示号码*/
    $('.qqBtn').popup();
    /*微信显示二维码*/
    $('.wechatBtn').popup({
        popup:$('.wechat-qr.popup'),
        on:'hover',
        position:'bottom center'
    });

</script>


</body>
</html>