<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/_fragments :: head(~{::title})">
    <title>博客详情</title>
</head>
<body>
<!--导航-->
<nav th:replace="common/_fragments :: nav()"></nav>

<!--中间内容-->
<div class="m-padded-tb-big m-container">
    <div class="ui container fadeIn a-time1">
        <!--头部-->
        <div class="ui top attached segment">
            <div class="ui horizontal link list">
                <div class="item">
                    <img src="../static/images/example-user.jpg" style="width: 30px;height: 30px"
                         class="ui avatar image" th:src="@{${blog.user.avatar}">
                    <div class="content"><a class="header" href="#" th:src="@{${blog.user.nickname}}">小咸鱼</a></div>
                </div>
                <div class="item">
                    <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-01-01</span>
                </div>
                <div class="item">
                    <i class="eye icon"></i><span th:text="${blog.views}">101</span>
                </div>
            </div>
        </div>
        <!--图片区域-->
        <div class="ui attached segment" style="height: 400px">
            <img src="../static/images/example-blog.jpg" th:src="@{${blog.firstPicture}}" class="ui fluid image rounded">
        </div>
        <!--内容-->
        <div id="waypoint" class="ui attached segment padded">
            <div class="ui segment right aligned basic">
                <div class="ui orange button basic" th:text="${blog.flag}">原创</div>
            </div>
            <h2 class="ui header center aligned" th:text="${blog.title}">我的第一篇博客</h2>
            <br>
            <!--博客内容-->
            <div id="content" class="m-padded-lr typo typo-selection js-toc-content" th:utext="${blog.content}">
                <h1 id="item-1">1、终身性</h1>
                <h2 id="item-1-1">终身性说明1</h2>
                <h3 id="item-1-1-1">终身性说明1-1</h3>
                <h2 id="item-1-2">终身性说明2</h2>
                <p>这是终身教育最大的特征。它突破了正规学校的框架，把教育看成是个人一生中连续不断的学习过程，是人们在一生中所受到的各种培养的总和，实现了从学前期到老年期的整个教育过程的统一。既包括正规教育，又包括非正规教育。它包括了教育体系的各个阶段和各种形式。</p>
                <h1 id="item-2">2、全民性</h1>
                <h2 id="item-2-1">全民性说明</h2>
                <p>终身教育的全民性，是指接受终身教育的人包括所有的人，无论男女老幼、贫富差别、种族性别。联合国教科文组织汉堡教育研究员达贝提出终身教育具有民主化的特色，反对教育知识为所谓的精英服务，是具有多种能力的一般民众能平等获得教育机会。而事实上，当今社会中的每一个人，都要学会生存，而要学会生存就离不开终身教育，因为生存发展是时代的主流，会生存必须会学习，这是现代社会给每个人提出的新课题。</p>
                <h1 id="item-3">3、广泛性</h1>
                <h2 id="item-3-1">广泛性说明</h2>
                <p>终身教育既包括家庭教育、学校教育，也包括社会教育。可以这么说，它包括人的各个阶段，是一切时间、一切地点、一切场合和一切方面的教育。终身教育扩大了学习天地，为整个教育事业注入了新的活力。</p>
                <h1 id="item-4">4、灵活与实用性</h1>
                <h2 id="item-4-1">灵活与实用性说明</h2>
                <p>现代终身具有灵活性，表现在任何需要学习的人，可以随时随地接受任何形式的教育。学习的时间、地点、内容、方式均由个人决定。人们可以根据自己的特点和需要选择最适合自己的学习。</p>

                <!--我是代码-->
                <pre>
                    <code class="language-java">
                        public class{
                            private int i;
                            public void say(){
                                system.out.println("Hello,World");
                            }
                        }
                    </code>
                </pre>

            </div>
            <br>
            <div class="m-padded-lr">
                <div class="ui basic teal left pointing label" th:each="tag:${blog.tags}" th:text="${tag.name}">标签</div>
            </div>

            <!--赞赏-->
            <div th:if="${blog.appreciation}">
                <div class="ui segment center aligned basic">
                    <button id="payBtn" class="ui orange basic button circular">赞赏</button>
                </div>
                <div class="ui flowing popup transition hidden payQR">
                    <div class="ui orange basic label">
                        <div class="ui images" style="font-size: inherit!important;">
                            <div class="ui image">
                                <img src="../static/images/myQQ.png" th:src="@{/images/myQQ.png}" alt="" class="ui rounded bordered image" style="width: 120px;height: 120px">
                                <div>支付宝</div>
                            </div>
                            <div class="ui image">
                                <img src="../static/images/myQQ.png" th:src="@{/images/myQQ.png}" alt="" class="ui rounded bordered image" style="width: 120px;height: 120px">
                                <div>微信</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--博客信息-->
        <div class="ui attached positive message" th:if="${blog.shareStatement}">
            <div class="ui grid middle aligned">
                <div class="eleven wide column">
                    <ul class="list">
                        <li>作者：<span th:text="${blog.user.nickname}">小咸鱼</span><a th:href="@{/about}">（联系作者）</a></li>
                        <li>发表时间：<span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH-mm')}">2020-09-01 09:00</span></li>
                        <li>版权声明：允许自由转载，需要标注原作者</li>
                        <li>公众号转载：请在文末添加作者公众号二维码</li>
                    </ul>
                </div>
                <div class="five wide column">
                    <img src="../static/images/myQQ.png" th:src="@{/images/myQQ.png}" class="ui image rounded bordered right floated" style="width: 80px;height: 80px">
                </div>
            </div>
        </div>
        <!--评论区-->
        <div class="ui bottom attached segment" th:if="${blog.commentabled}">
            <!--已有留言-->
            <div id="comment-container" class="ui teal segment">
                <div th:fragment="commentList">
                    <div class="ui threaded comments" style="max-width: 100%">
                        <h3 class="ui dividing header">留言区</h3>

                        <div class="comment" th:each="comment:${comments}">
                            <a class="avatar">
                                <img src="../static/images/example-user.jpg" th:src="@{${comment.avatar}}">
                            </a>
                            <!--父评论-->
                            <div class="content">
                                <a class="author">
                                    <span th:text="${comment.nickname}">Matt</span>
                                    <div class="ui mini teal basic left pointing label m-padded-mini" th:if="${comment.adminComment}">博主</div>
                                </a>
                                <div class="metadata">
                                    <span class="date" th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}">今天下午 5:42</span>
                                </div>
                                <div class="text" th:text="${comment.content}">太赞了！ </div>
                                <div class="actions">
                                    <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickname}" onclick="reply(this)">回复</a>
                                </div>
                            </div>
                            <!--子评论-->
                            <div class="comments" th:if="${#arrays.length(comment.replyComments)}>0">
                                <div class="comment" th:each="reply:${comment.replyComments}">
                                    <a class="avatar">
                                        <img src="../static/images/example-user.jpg" th:src="@{${reply.avatar}}">
                                    </a>
                                    <div class="content">
                                        <a class="author">
                                            <span th:text="${reply.nickname}">Matt</span>
                                            <div class="ui mini teal basic left pointing label m-padded-mini" th:if="${reply.adminComment}">博主</div>
                                            &nbsp;
                                            <span th:text="|@ ${reply.parentComment.nickname}|" style="color: #00B5AD">@ Matt</span>
                                        </a>
                                        <div class="metadata">
                                            <span class="date" th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">今天下午 5:42</span>
                                        </div>
                                        <div class="text" th:text="${reply.content}">太赞了！ </div>
                                        <div class="actions">
                                            <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${reply.id},data-commentnickname=${reply.nickname}" onclick="reply(this)">回复</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--提交留言-->
            <div id="comment-form" class="ui form">
                <input type="hidden" name="blog.id" th:value="${blog.id}">
                <input type="hidden" name="parentComment.id" th:value="-1">
                <div class="field">
                    <textarea name="content" placeholder="请输出评论信息..."></textarea>
                </div>
                <div class="fields">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="nickname" placeholder="昵称" th:value="${session.user}?${session.user.nickname}">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="email" name="email" placeholder="邮箱" th:value="${session.user}?${session.user.email}">
                        </div>
                    </div>
                    <div class="field">
                        <button id="comment-btn" type="button" class="ui button teal">
                            <i class="edit icon"></i>
                            发表
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--底部-->
<footer th:replace="common/_fragments :: footer"></footer>

<!--博客工具条-->
<div id="tool-bar" style="position: fixed ;bottom: 0;right: 0;z-index: 1;padding: 1em;display: none">
    <div class="ui vertical icon buttons">
        <button type="button" class="ui button teal" id="index-toc">目录</button>
        <a href="#comment-container" class="ui button teal">留言</a>
        <button type="button" class="ui button icon wechatBtn"><i class="weixin icon"></i></button>
        <div id="toTop-Btn" class="ui button"><i class="chevron up icon"></i></div>

        <div class="ui flowing popup transition hidden toc-container" style="width: 200px">
            <ol class="js-toc"></ol>
        </div>
        <div id="qrcode" class="ui flowing popup transition hidden wechat-qr" style="width: 90px;height: 90px;padding: 0"></div>
    </div>

</div>

<!--/*/<th:block th:replace="common/_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->

<script th:inline="javascript">
    /*控制移动端按钮点击后出现目录*/
    $('.menu-toggle').click(function () {
        $('.menu-toggle-item').toggleClass('m-mobile-hide');
    });
    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.js-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.js-toc-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3',
        // For headings inside relative or absolute positioned containers within content.
        hasInnerContainers: true,
    });

    /*点击赞赏后显示二维码*/
    $('#payBtn').popup({
        popup:$('.payQR.popup'),
        on:'click',
        position:'bottom center'
    });
    /*生成目录*/
    $('#index-toc').popup({
        popup:$('.toc-container.popup'),
        on:'click',
        position:'left center'
    });
    /*微信显示二维码*/
    $('.wechatBtn').popup({
        popup:$('.wechat-qr.popup'),
        on:'click',
        position:'left center'
    });

    var serUrl = /*[[#{serverUrl}]]*/"127.0.0.1:8080";
    var url = /*[[@{/blog/{id}(id=${blog.id})}]]*/"";
    /*根据链接自动生成二维码*/
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        text: serUrl+url,
        width: 90,
        height: 90,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });

    /*平滑滚动到顶部*/
    $('#toTop-Btn').click(function (){
        $(window).scrollTo(0,500);
    });

    /*滚动侦测*/
    var waypoint = new Waypoint({
        element: document.getElementById('waypoint'),
        handler: function(direction) {
            if(direction == 'down'){
                $('#tool-bar').show(100);
            }else {
                $('#tool-bar').hide(500);
            }
        }
    });

    /*comment表单验证*/
    $('.ui.form').form({
        fields: {
            content: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入评论内容'
                }]
            },
            nickname: {
                identifier: 'nickname',
                rules: [{
                    type: 'empty',
                    prompt: '请输入昵称'
                }]
            },
            email: {
                identifier: 'email',
                rules: [{
                    type: 'email',
                    prompt: '请输入正确的邮箱地址'
                }]
            },
        }
    });

    $('#comment-btn').click(function () {
        var bool = $('.ui.form').form('validate form');
        if(bool){
            /*console.log('校验成功');*/
            postData();
        }else {
            /*console.log('校验失败');*/
        }
    });

    /*页面加载完毕后初始化评论区*/
    $(function () {
        $("#comment-container").load(/*[[@{/comments}]]*/"comments/6");
    });


    function postData(){
        $("#comment-container").load(/*[[@{/comments}]]*/"",{
            'parentComment.id':$("[name='parentComment.id']").var(),
            'blog.id':$("[name='blog.id']").var(),
            'nickname':$("[name='nickname']").var(),
            'email':$("[name='email']").var(),
            'content':$("[name='content']").var()
        },function (responseTxt,statusTxt,xhr) {
            // $(window).scrollTo($('#comment-container'),500);
            clearContent();
        });
    }

    function clearContent() {
        $("[name='content']").var('');
        $("[name='parentComment.id']").var(-1);
        $("[name='content']").attr("placeholder","请输入评论信息...");
    }

    function reply(obj) {
        var commentId = $(obj).data('commentid');
        var nickname = $(obj).data('commentnickname');

        $("[name='content']").attr("placeholder","@"+nickname).focus();
        $("[name='parentComment.id']").var(commentId);

        $(window).scrollTo($('#comment-form'),500);
    }


</script>


</body>
</html>