<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/_fragments :: head(~{::title})">
    <title>首页</title>
</head>
<body>
<!--四个部分：nav,left,right,footer-->
<!--导航：包括logo、导航页、搜索框-->
<nav th:replace="common/_fragments :: nav(1)"></nav>

<!--中间内容：左边放博客列表，右边放博客标签-->
<div class="m-padded-tb-big m-container">
    <div class="ui container">
        <div class="ui grid stackable">
            <!--左边显示博客信息-->
            <div class="eleven wide column">
                <!--header-->
                <div class="ui segment top attached">
                    <div class="ui two column grid middle aligned">
                        <div class="column">
                            <h3 class="ui teal header">博客</h3>
                        </div>
                        <div class="column right aligned">
                            共 <h3 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}">14</h3> 篇
                        </div>
                    </div>
                </div>
                <!--content：存放单独的博客信息-->
                <div class="ui attached segment">
                    <!--第一篇博客：左边的博客信息，右边是博客图片-->
                    <div class="ui segment padded m-padded-tb-big vertical" th:each="blog : ${page.content}">
                        <div class="ui grid stackable mobile reversed middle aligned">
                            <!--博客内容：标题、内容、作者-->
                            <div class="eleven wide column">
                                <!--标题-->
                                <h3 class="ui header">
                                <!--/*@thymesVar id="blog" type="com.zjy.myblog.po.Blog"*/-->
                                <a class="m-black" target="_blank" th:href="@{/blog/{id}(id=${blog.id})}" th:text="${blog.title}">你真的理解什么是财富自由吗？</a></h3>
                                <!--内容摘要-->
                                <p class="m-text" th:text="|${blog.description}......|">
                                    我是博客内容！！！
                                </p>
                                <!--博客的作者信息-->
                                <div class="ui grid">
                                    <!--头像、作者名、日期、浏览量-->
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list mini">
                                            <div class="item">
                                                <img src="../static/images/example-user.jpg" th:src="@{${blog.user.avatar}" style="width: 30px;height: 30px"
                                                     class="ui avatar image">
                                                <div class="content"><a class="header" href="#" th:text="${blog.user.nickname}">小咸鱼</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-01-01</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i><span th:text="${blog.views}">101</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--博客标签显示-->
                                    <div class="five wide column right aligned ">
                                        <a href="#" class="ui label teal basic m-padded-mini" target="_blank" th:text="${blog.type.name}">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--博客图片-->
                            <div class="five wide column">
                                <div class="ui grid">
                                    <a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                        <img src="../static/images/example-blog.jpg" th:src="@{${blog.firstPicture}}" style="width: 180px;height: 120px">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!--footer：博客上下翻页-->
                <div class="ui pagination menu" th:if="${page.totalPages}>1">
                    <a class="icon item" th:href="@{/(page = ${page.number} - 1)}" th:unless="${page.first}">
                        <i class="left chevron icon"></i>
                    </a>
                    <!--<a class="item">1</a>
                    <a class="item">2</a>
                    <a class="item">...</a>
                    <a class="item">19</a>
                    <a class="item">20</a>-->
                    <a class="icon item" th:href="@{/(page = ${page.number} + 1)}" th:unless="${page.last}">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
                <!--<div class="ui attached segment">
                    <div class="ui two column grid middle aligned">
                        <div class="column">
                            <a href="#" class="ui button teal basic mini">上一页</a>
                        </div>
                        <div class="two column right aligned">
                            <a href="#" class="ui button teal basic mini">下一页</a>
                        </div>
                    </div>
                </div>-->
            </div>

            <!--右边显示博客标签信息-->
            <div class="five wide column">
                <!--分类-->
                <div class="ui segments">
                    <!--标题-->
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>分类
                            </div>
                            <div class="column right aligned">
                                <a th:href="@{/types/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--内容-->
                    <div class="ui teal segment">
                        <div class="ui fluid vertical menu" >
                            <a th:href="@{/types/{id}(id=${type.id})}" target="_blank" class="item" th:each="type:${types}">
                                <span th:text="${type.name}">分类1</span>
                                <div class="ui left pointing label teal" th:text="${#arrays.length(type.blogs)}">13</div>
                            </a>
                        </div>
                    </div>

                </div>

                <!--标签-->
                <div class="ui segments">
                    <!--标题-->
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i>标签
                            </div>
                            <div class="column right aligned">
                                <a th:href="@{/tags/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--内容-->
                    <div class="ui teal segment">
                        <a th:href="@{/tags/{id}(id=${tag.id})}" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny" th:each="tag:${tags}">
                            <span th:text="${tag.name}">标签名</span>
                            <div class="detail" th:text="${#arrays.length(tag.blogs)}">0</div>
                        </a>
                    </div>

                </div>

                <!--最新推荐-->
                <div class="ui segments">
                    <!--标题-->
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="bookmark icon"></i>最新推荐
                            </div>
                            <div class="column right aligned">
                                <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--内容-->
                    <div class="ui segment" th:each="blog:${recommendBlogs}">
                        <a href="#" target="_blank" class="ui m-black m-text-thin" th:text="${blog.title}" th:href="@{/blog/{id}(id=${blog.id})}">方法论</a>
                    </div>

                </div>

                <!--二维码-->
                <h4 class="ui horizontal divider header m-margin-top">扫码关注我</h4>
                <div class="ui card centered" style="width: 10em;height: 10em;">
                    <img src="../static/images/myQQ.png" th:src="@{/images/myQQ.png}" alt="" class="ui rounded image">
                </div>

            </div>
        </div>
    </div>
</div>

<!--底部：二维码、相关信息、版权号-->
<footer th:replace="common/_fragments :: footer"></footer>


<!--引入js文件-->
<!--/*/<th:block th:replace="common/_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->


<script>
    /*控制移动端按钮点击后出现目录*/
    $('.menu-toggle').click(function () {
        $('.menu-toggle-item').toggleClass('m-mobile-hide');
    });

</script>


</body>
</html>